.todo-wrapper {
    display: flex;
    gap: 10px;
    width: 100%;
    height: calc(100vh - 84px);
    overflow: auto;
}

.form {
    display: flex;
    flex-direction: column;
    min-width: 300px !important;
    height: fit-content;
}

.todo-wrapper button {
    height: fit-content;
}

:host {
    background-color: blue;
    height: 100%;
}
