table {
    width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.wrapper {
    padding: 10px;
    margin: 0 auto;
    max-width: 900px;
}

.spinner {
    margin: 0 auto;
    width: fit-content;
    padding-top: 50px;
}
