<mat-nav-list>
    <a mat-list-item routerLink="/" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon>
        <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="/todo_(in_memory)" (click)="onSidenavClose()">
        <mat-icon>fact_check</mat-icon>
        <span class="nav-caption">To Do (in memory)</span>
    </a>
    <a mat-list-item routerLink="/kanban" (click)="onSidenavClose()">
        <mat-icon>dataset</mat-icon>
        <span class="nav-caption">Kanban</span>
    </a>
    <a mat-list-item routerLink="/countries" (click)="onSidenavClose()">
        <mat-icon>flag</mat-icon>
        <span class="nav-caption">Countries</span>
    </a>
</mat-nav-list>
