<mat-toolbar class="navbar" color="primary">
    <div class="sidebar-icon">
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div class="navigation-items">
        <div>
            <a mat-button routerLink="/">
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </a>
        </div>
        <div class="spacer"></div>
        <ul>
            <li>
                <a mat-button routerLink="/todo_(in_memory)">
                    <mat-icon>fact_check</mat-icon>
                    <span>To Do (in memory)</span>
                </a>
            </li>
        </ul>
    </div>
</mat-toolbar>
