<section class="hero">
    <div class="custom-shape-divider-top-1665475959">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 500" preserveAspectRatio="none">
            <path d="M1200 400L0 300 0 0 1200 0 1200 400z" class="shape-fill"></path>
        </svg>
    </div>
    <div class="content hero__content">
        <div class="hero__logo"></div>
        <div class="hero__headings">
            <h1>Experimental Angular App</h1>
            <h2>A place to experiment with Angular and Material UI</h2>
        </div>
    </div>
</section>
<section class="cards-wrapper">
    <div class="cards-list">
        <app-project-card></app-project-card>
        <app-project-card></app-project-card>
        <app-project-card></app-project-card>
    </div>
</section>
